@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import 'blocks/_headers.scss';
@import 'blocks/footer/foters';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: 'Saira';
    src: url('../fonts/Saira/Saira-Regular.eot');
    src: url('../fonts/Saira/Saira-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Saira/Saira-Regular.woff') format('woff'),
    url('../fonts/Saira/Saira-Regular.woff2') format('woff2'),
    url('../fonts/Saira/Saira-Regular.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}
@font-face{
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono/RobotoMono-Regular.eot');
    src: url('../fonts/RobotoMono/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoMono/RobotoMono-Regular.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-Regular.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}
@font-face{
    font-family: 'RobotoMono-Light';
    src: url('../fonts/RobotoMono/RobotoMono-Light.eot');
    src: url('../fonts/RobotoMono/RobotoMono-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoMono/RobotoMono-Light.woff') format('woff'),
    url('../fonts/RobotoMono/RobotoMono-Light.woff2') format('woff2'),
    url('../fonts/RobotoMono/RobotoMono-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}
@font-face{
    font-family: 'Bartomes';
    src: url('../fonts/Bartomes/Bartomes.eot');
    src: url('../fonts/Bartomes/Bartomes.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Bartomes/Bartomes.woff') format('woff'),
    url('../fonts/Bartomes/Bartomes.woff2') format('woff2'),
    url('../fonts/Bartomes/Bartomes.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}
@font-face{
    font-family: 'Gemsbuck';
    src: url('../fonts/Gemsbuck/Gemsbuck-01-Bold.eot');
    src: url('../fonts/Gemsbuck/Gemsbuck-01-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gemsbuck/Gemsbuck-01-Bold.woff') format('woff'),
    url('../fonts/Gemsbuck/Gemsbuck-01-Bold.woff2') format('woff2'),
    url('../fonts/Gemsbuck/Gemsbuck-01-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}